html {
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    color: #858A8F;
}
a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
.header__inner {
    height: 133px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #333333;
}
.menu__list {
    padding: 0;
    list-style: none;
    display: flex;
    
}
.menu__list-item {
    margin-right: 21px;
}
.menu__list-link {
    display: block;
    color: #858A8F;
}
.menu__list-icon {
    margin-left: 15px;
}
.btn__main {
    width: 179px;
    height: 57px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    background: #0176FF;
    padding: 16px 32px 17px 34px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    
}

.main__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    
}
.main__title {
    width: 936px;
    font-weight: 700;
    font-size: 80px;
    line-height: 97px;
    color: #333333;
    text-align: center;
}
.main__text {
    width: 813px;
    text-align: center;
    margin-bottom: 37px;
}
.main__btns {
    display: flex;
    margin-bottom: 85px;
}
.btn__view {
    width: 212px;
    height: 66px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #377DFF;
    background: #E5F1FF;
    padding: 20px 55px 22px 55px;
    border-radius: 3%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    margin-left: 16px;
    
}

.main__btns .btn__main{
    margin-right: 16px;
    width: 212px;
    height: 66px;
    padding: 20px 49px 22px 50px;
}
.main__picture {
    position: relative;
    margin-bottom: 124px;    
}
.main__picture-left {
    position: absolute;
    left: 24px;
    z-index: 1;
}
.main__picture-right {
    position: absolute;
    right: 24px;
    z-index: 2;
}
.main__picture-center {
    position: absolute;
    z-index: 3;
    right: 174px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
        
}
.footer__inner {
    margin-top: 714px;
    text-align: center;
}
.applications__list {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-right: 219px;
    padding-left: 219px;
    margin-bottom: 73px;
}
.footer__inner-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 33px;
}
.functions {
    background-image: url(/images/functions-background.png);
}
.functions__inner {
    display: flex;
    justify-content: space-between;
}
.functions__items {
    display: flex;
    flex-wrap: wrap;
    padding: 144px 0 144px 85px;
    
   
}
.functions__items-link {
    width: 286px;
    height: 330px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 15px;
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.functions__name {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #333333;
    margin-bottom: 18px;
}
.functions__text {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: #858A8F;
}

.functions__content {
    text-align: left;
    padding-top: 250px;
   
    
}
.functions__content-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #333333;
    margin-bottom: 33px;
}
.functions__content-text {
    margin-bottom: 34px;
    width: 440px;
}
.features-video__inner{
    display: flex;
    padding-bottom: 57px;
    padding-top: 54px;

}
.features-video__content {
    padding-top: 200px;
    
    text-align: left;
    margin-left: 100px;
    width: 40%;
    margin-bottom: 150px;

}
.features-video__content-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #333333;
    margin-bottom: 33px;
}
.features-video__content-text {
    margin-bottom: 43px;
    width: 443px;
}
.features-video__content .btn__view {
    margin: 0;
    color: #FFFFFF;
    background: #0176FF;
}
.features-video__picture {
    position: relative;
    width: 60%;
}
.features-video__picture-item {
    position: absolute;
    
}
.features-video__picture-item:nth-child(1) {
    z-index: 1;
    left: 0;
    top: 0;
}
.features-video__picture-item:nth-child(2) {
    z-index: 2;
    right: 0;
    bottom: 0;
}
.features-video__picture-item:nth-child(3) {
    z-index: 3;
    top: 110px;
    right: 50px;
    
    
}
.features-video__picture-item:nth-child(4) {
    z-index: 4;
    top: 160px;
    right: 586px;
}
.features-video__picture-item:nth-child(5) {
    z-index: 5;
    top: 460px;
    right: 360px;
    
}
.features-foto__inner{
    display: flex;
    padding: 60px 60px 92px 100px;
    
}
.features-foto__picture {
    position: relative;
    width: 60%;
}
.features-foto__picture-item {
    position: absolute;
}
.features-foto__picture-item:nth-child(1){
    z-index: 1;
    left: 0;
    top: 0;
}
.features-foto__picture-item:nth-child(2){
    z-index: 2;
    right: 60px;
    top: 400px;
}
.features-foto__picture-item:nth-child(3){
    z-index: 3;
    top: 82px;
    left: -50px;
}
.features-foto__picture-item:nth-child(4){
    z-index: 4;
    right: 37px;
    top: 428px;
}

.features-foto__content {
    padding-top: 80px;
    text-align: left;
    
    width: 40%;
    margin-bottom: 150px;
}
.features-foto__content-title {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    color: #333333;
    margin-bottom: 33px;
}
.features-foto__content-text {
    margin-bottom: 43px;
    width: 443px;
}
.features-foto__content .btn__view {
    margin: 0;
    color: #FFFFFF;
    background: #0176FF;
}

.reviews {
    background-image: url(/images/functions-background.png);
}
.reviews__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reviews__title {
    font-weight: bold;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #333333;
    margin: 108px 314px 74px 343px;
}
.reviews__content {
    display: flex;
    justify-content: space-between;
    padding-right: 84px;
    padding-left: 84px;
    margin-bottom: 70px;
}
.reviews__usercard {
    margin-left: 16px;
    margin-right: 16px;
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    width: 392px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}   
.reviews__usercard-top {
    display: flex;
    align-items:center;
    margin-bottom: 33px;
}
.user-info {
    margin-left: 28px;
    

}
.name {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #333333;
}
.profession {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
}
.reviews__usercard-text {
    margin-bottom: 20px;
}
.reviews__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #397EFF;
    margin-bottom: 142px;
    text-align: center;
}
.reviews__picture {
    margin-left: 12px;
    transform: translateY(25%);
}
.footer-bottom__inner {
    padding: 100px;
}
.footer__application {
    background: #377DFF;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 120px;
}
.footer__application-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-left: 70px;
}
.btn-application {
    width: 244px;
    height: 66px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #377DFF;
    background: #E5F1FF;
    padding-top: 20px;
    margin-right: 74px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    text-align: center;
}
.footer__bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.footer__bottom-move {
    max-width: 293px;
    margin-right: 130px;
}
.move-text {
    margin-bottom: 37px;
}
.footer__socials {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.footer__bottom-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
    margin-bottom: 40px;
}
.footer__bottom-list {
    list-style: none;
    padding: 0;
}
.footer__bottom-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #858A8F;
}
.footer__bottom-navigation {
    margin: 9px 0 9px;
}